{% load static %}
{% block content %}
<div class="container px-6 mx-auto grid">
  <!-- SUSCRIPCIONES -->
  <h1 class="my-6 text-1xl font-semibold text-gray-700 dark:text-gray-100">
    SUSCRIPCIONES
  </h1>

  
</div>
<div class="container px-6 mx-auto grid">
  <!-- SUSCRIPCIONES -->
 

  <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
    <!-- Card -->
    {% for usuari in usuarios%}
    <div
      class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800" 
      style="height: 300px;"
    > 
      
      <div
        class="p-3 mr-4 text-orange-500 bg-gray-100 rounded-full dark:text-white dark:border-gray-100"
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="purple">
          <path d="M9 16.17l-4.17-4.17L3 14l6 6 12-12-1.41-1.41L9 16.17z" />
        </svg>
      </div>
      <div>
        <p
          class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400"
        >     
          <a href="{% url 'perfil' usuari.id %}">{{usuari.username}}</a>
        </p>
        <p
          class="text-lg font-semibold text-gray-700 dark:text-gray-200"
        >
          Suscrito
        </p>
      </div>
      
    </div>
    {%endfor%}
  </div>
</div>


{% endblock %}
</html>